html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.midContent{
    flex: 1 0 auto;
    width: 80%;
    border: 1px solid black;
    box-shadow: 1px 1px gray;  
}